<div class="quizz_container">
  <div class="quizz_logo">
    <img src="assets/images/logo.png" alt="Image Logo" srcset=""/>
    <h3>
      {{title}}
    </h3>
  </div>
  <div class="quizz_questions">
    <h3 *ngIf=!finished>
      {{selectedQuestion?.question}}
    </h3>
    <h1 *ngIf=finished>
      <b>RESULTADO</b>
    </h1>
  </div>
  <div *ngIf=!finished class="quizz_options">
      <button *ngFor="let option of selectedQuestion?.options" (click)="playerChoice(option.alias)" class="btn_option">
        {{option.name}}
      </button>
  </div>
  <div *ngIf=finished class="quizz_results">
      <h1>
        Seu resultado foi:<br>
        <b>{{printResult()}}</b>
      </h1>
  </div>
</div>
